<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> All Quara Post</title>
    <!-- <link rel="stylesheet" href="/style.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="bg-info">
    <div class="container m-4 ">
      <h1 style="text-align: center ">Quora Post:</h1>
      <!-- card start-->
            <% for(let post of posts){ %>
            <div class="card mt-2 bg-light">
            <div class="card-body">
              <div class="card-text">
                <h5 class="user"> UserName:@<span style="font-style: italic; font-weight: 400;"><%= post.username %></span><h5>
                <h5>Content:</h5>
                <h3 class="content" style="font-size: 16px; font-family: 'Inter', sans-serif;"> <%=post.content%></h3>
              </div>
              <div class="card-link d-flex justify-content-start m">
                <a href="http://localhost:8000/posts/<%=post.id%>"><button class=" btn btn-primary m-1"> See Details</button></a>
                <a href="http://localhost:8000/posts/<%=post.id%>/edit"> <button class=" btn btn-warning m-1"> Edit </button> </a>
             
                <form action="/post/<%= post.id %>/?_method=DELETE" method="post">
                <button class=" btn btn-danger m-1">Delete post</button>
                </form>
              </div>
             </div>
              </div>
             <% } %>
<!-- card end -->
             <a href="http://localhost:8000/posts/new" ><button class="bg-success text-white mt-2 p-2" >Create New Post</button></a>  
     

    </div>
</body>
</html>


