<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit insta post</title>
</head>
<body>
    <h1> userID:<%= card.id %></h1>
     <!-- <h1> useeName:<%#= card.user %></h1> -->
      
    <form action="/cards/<%= card.id%>?_method=PATCH" method="post">
        <input type="text" placeholder="enter user" value="<%= card.user%>" name="user">
        <input type="text" name="userfollow" value="<%= card.following%>"  placeholder="enter followers">
         <input type="text" name="userfollwing" value="<%= card.follower%>"  placeholder="enter following">
         <button>submit</button>
    </form>
</body>
</html>