<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/style.css" rel="stylesheet">
</head>
<body>
    <h1>Instagram Web Page</h1>
        <% for(let card of cards) { %>
        <div class="card">
          <div class="card-info">
           <h2>user ID:<%= card.id %></h2>
           <h2>UserName:@<%= card.user %></h2>
           <h2>followers:<%= card.followers %></h2>
           <h2>following:<%= card.following %></h2>
           <form action="/cards/<%= card.id %>?_method=DELETE" method="post">
             <button>Delete Post</button>
          </form>
           <a href="http://localhost:8000/cards/<%= card.id %>/edit">Edit post</a>
          </div>
          <div class="post-info">
           <% for(post of card.posts) {%>
            <img src="<%= post.image %>" alt="cats" width="100px">
            <h4>likes:<%= post.likes %></h4>
            <h4>comments:<%= post.comments %></h4>
           <% }%>
          </div>
          
        </div>
         
         <% } %>
         <a href="http://localhost:8000/cards/form">Create New Post </a>
         
   
</body>
</html>